<h1>{{title}}</h1>
<h2>Mode : {{mode.name}}</h2>
<div>
    <label>selected: </label> {{mode.selected}}
    <br>
    <input type="checkbox" [(ngModel)]="mode.selected">
</div>

<h2>Activities</h2>
<ul class="activities">
    <li *ngFor="let activity of activities" [class.selected]="activity === selectedActivity" (click)="onSelect(activity)">
        <span class="badge">{{activity.id}}</span> {{activity.title}}
    </li>
</ul>


<div *ngIf="selectedActivity">
    <h2>{{selectedActivity.title}} details!</h2>
    <div><label>id: </label>{{selectedActivity.id}}</div>
    <div>
        <label>include: </label>
        <input type="checkbox" [(ngModel)]="selectedActivity.include" />
    </div>
</div>