<br><br>

<a href="https://www.strava.com/oauth/authorize?client_id=17664&response_type=code&redirect_uri=http://localhost:4200/activities&scope=view_private&state=mystate&approval_prompt=force"> <img
				alt="Connect with Strava" src="assets/img/ConnectWithStrava.png" />

<activity-search></activity-search>

<div class="grid grid-pad">
  <div *ngFor="let activity of activities" [routerLink]="['/detail', activity.id]" class="col-1-4">
    <div class="module hero">
      <h4>{{activity.title}}</h4>
    </div>
  </div>
</div>